* {
    box-sizing: border-box;
}

/* Fond avec rayure et dégradé */
body {
    background:repeating-linear-gradient(45deg, rgb(245, 202, 177) 25%, rgb(245, 202, 177) 25%, rgb(235, 162, 117) 50%, rgb(233, 210, 196) 50%, rgb(235, 162, 117) 75%, rgb(233, 210, 196) 75%);    background-size: 10px 10px;
}


/* Modifier img aprés inté contenue*/
img {
    height: auto;
    width: 50px;
}